.navigation {
    padding: 0 8px;
    display: flex;
    min-height: 72px;
    align-items:center;
    justify-content: space-between;
  }
  
  .navigation ul {
    display: inline-flex;
    list-style-type: none ;
    gap: 24px;
    font-weight: 500;
  }